<!DOCTYPE html>
<html>
<head>
    <title>Delete Answer</title>
    <style>
        table,td,th {
                border: 1px solid black;
                border-collapse: collapse;
                background-color: antiquewhite;
            }
        body {background-color: beige}
        a:link, a:visited {
            text-decoration: none;
            color: saddlebrown;
        }
    </style>
</head>
<body>

<table style="width: 100%">
    <thead>
    <tr>
        <th style="width: 20%">
            <a href="/"><img src="https://i.ibb.co/hHxT8DM/ask-mate.png" alt="none">ASK MATE</a></th>
        <th><a href="/list" style="font-size: large">Questions</a></th>
        <th><a href="/add-question" style="font-size: large">Ask Something!</a></th>
    </tr>
    </thead>
</table>

<h2>Delete Answer</h2>
<form method="post" style="text-align: center">
    <p>Are you sure?</p>
    <button type="submit">YES</button>
</form>
</body>
</html>